* {
  margin:0;
  padding: 0;
}
.header {
  background-color: #fca903;
}

.title {
  background-color: #fca903;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.item {
  width: 120px;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #d1650d;
  padding: 10px;
  font-weight: 600;
}
